<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

  
  
  <body style="background-color:lightgrey;">
  <h1><%= title %> Me</h1>

 
   <img src = "https://scontent-ord5-1.xx.fbcdn.net/v/t1.6435-9/117597692_885339558621828_765446011652602118_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=sJFW5S8hqokAX_xboI3&_nc_ht=scontent-ord5-1.xx&oh=00_AT_FR12_GKTDGrTukfOUEe0x2CugrsrZq3TtiAbZ9KKTsA&oe=63731614"  style="width:400px"  alt="profile photo">
   
  <p>I will give a brief introduction of myself here.  </p>
<p> My Name is Parth Sharma. I am Basically from India. Currently i am in Canada and i am pursueing my hire studies here, I am doing SOFTWARE ENGENEERING TECHNOLOGY from Centennial College.</p>
<p>I arrieved Canada in year 2021, just year after covid, it was really hard for me to adjust in totally new country cause it was very differnt from mine. It is the first time I am away from my home so, i am trying to adjust.
But now I think i have evoloved my self a lot and as time passed I think I have learnt how to survive alone.   </p>
   <p>We are Timble Technologies - Technology in Action</p>
</body>
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>